@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  padding: 0;
  margin: 0;
  background: #fff;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
  
* {
  box-sizing: border-box;
}
.post {
	letter-spacing: .05em;
	line-height: 2rem;
	font-size: 1.25rem
}

.post a:hover {
	border-bottom-width: 2px;
	--border-opacity: 1;
	border-color: #03a9f4;
	border-color: rgba(3, 169, 244, var(--border-opacity))
}

.post p {
	margin-top: 1.25rem;
	margin-bottom: 1.25rem
}

.post h1 {
	font-size: 3rem;
	margin-top: 3rem;
	line-height: 2.5rem
}

.post h1,
.post h2 {
	font-weight: 700;
	margin-bottom: 1.25rem
}

.post h2 {
	font-size: 2.25rem;
	margin-top: 2.5rem
}

.post h3 {
	font-size: 1.875rem
}

.post h3,
.post h4 {
	font-weight: 700;
	margin-top: 2.5rem;
	margin-bottom: 1.25rem
}

.post h4 {
	font-size: 1.5rem
}

.post h5 {
	font-size: 1.25rem
}

.post h5,
.post h6 {
	font-weight: 700;
	margin-top: 2.5rem;
	margin-bottom: 1.25rem
}

.post h6 {
	font-size: 1.125rem
}

.post ol,
.post p,
.post ul {
	overflow: auto
}

.post>ol,
.post>ul {
	margin-top: 1.5rem;
	margin-bottom: 1.5rem
}

.post ol,
.post ul {
	padding-left: 2rem
}

.post ul {
	list-style-type: disc
}

.post ol,
.post ul {
	list-style-position: outside
}

.post ol {
	list-style-type: decimal
}

.post blockquote p {
	padding-left: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
	border-left-width: 4px;
	--border-opacity: 1;
	border-color: #03a9f4;
	border-color: rgba(3, 169, 244, var(--border-opacity));
	--bg-opacity: 1;
	background-color: #f7fafc;
	background-color: rgba(247, 250, 252, var(--bg-opacity))
}

.post img {
  border-radius: .375rem;
  margin:auto;
}

.post hr,
.post pre[class*=language-],
.post table {
	margin-top: 2rem;
	margin-bottom: 2rem
}

.post table {
	white-space: nowrap;
	border-collapse: collapse;
	display: block;
	overflow: auto
}

.post table td,
.post table th {
	border-width: 1px;
	padding: 1rem 2rem
}

.post table th {
	--bg-opacity: 1;
	background-color: #f7fafc;
	background-color: rgba(247, 250, 252, var(--bg-opacity));
	text-align: left
}
.top-20 {
  top: 5rem;
}