@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  padding: 0;
  margin: 0;
  background: #edf2f7;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
  

* {
  box-sizing: border-box;
}

.post-body p {
  padding-top: 1rem;
  color: #1a202c;
}
.post-body h1 {
  font-size: 1.7rem;
  font-weight: bold;
  padding: 20px 0;
}
.post-body h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 20px 0;
}
.post-body h3 {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 20px 0;
}
.post-body figure {
  max-width: 100%;
  margin: auto;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
}

.post-body img {
  margin: auto;
}

.post-body pre {
  background-color: #292E34; /* warna background */
  border-left: 5px solid #008c5f; /* variasi border kiri */
  padding:0; margin:.5em auto; white-space:pre; word-wrap:break-word; overflow:auto; position:relative; width:100%; -moz-tab-size:2; -o-tab-size:2; tab-size:2; word-break:normal; user-select:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; user-select:text; -webkit-hyphens:none; -moz-hyphens:none; -ms-hyphens:none; hyphens:none
}
.post-body pre code {
  color: #BFBF90; /* warna huruf */
  font-size: 12px; /* ukuran huruf */ 
  max-height:250px; line-height:1.5em; display:block; background:none; border:none; padding:10px 15px; font-family:'source code pro',menlo,consolas,monaco,monospace; white-space:pre-wrap; overflow:auto; user-select:text; -webkit-user-select:text; -khtml-user-select:text; -moz-user-select:text; -ms-user-select:text; user-select:text
}
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}